name: build

permissions:
  contents: read

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v6

      - name: setup-java
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin
          cache: maven

      - name: maven-verify
        run: mvn --batch-mode --update-snapshots verify

      - name: jacoco-badge-generator
        uses: cicirello/jacoco-badge-generator@v2
        with:
          # jacoco-csv-file: target/site/jacoco/jacoco.csv
          # badges-directory: .github/badges
          # generate-coverage-badge: true
          # coverage-badge-filename: jacoco.svg
          generate-branches-badge: true
          # branches-badge-filename: branches.svg

      - name: upload-artifact-jacoco-report
        uses: actions/upload-artifact@v6
        with:
          name: jacoco-report
          path: target/site/jacoco/
